<!DOCTYPE html>
<title>Sync - {{.SiteName}}</title>

{{ template "css" . }}
{{ template "header" . }}

<div class="sync">
	{{ $me := (.Me) }}

	{{ with $me }}
	<div class="discord-info">
		<img class="avatar avatar-xxl" src="{{ .AvatarURL }}?size=128" alt="Avatar">
		<div class="name">
			<span class="username">{{ .Username }}</span>
			<small class="discriminator">#{{.Discriminator}}</small>
		</div>
	</div>
	{{ end }}

	{{ $user   := (.User $me.ID) }}
	{{ $guilds := (.GuildsInServices) }}

	<h3 id="synchronize-header">
		Synchronize
		<small>Update the courses linked to your account.</small>
	</h3>

	<div class="row">
		{{ range .Services }}
		<a	class="service-card column col-sm-12 col-md-6"
			href="/sync/{{.Host}}"
		>
			<div class="card fluid">
				<div class="section">
					<img class="avatar" src="{{ .Icon }}" alt="Icon">
					<h3>
						<span>{{ .Name }}</span>

						{{ if $user }}
						{{ with ($user.LastSynced .Host) }}
						<small>
							{{ if not .IsZero }}
							Last synced
							<time datetime="{{ .UTC.Format "2006-01-02T15:04:05Z" }}">
								{{ humanizeTime . }}
							</time>
							{{ else }}
							<span>Never synced before</span>
							{{ end }}
						</small>
						{{ end }}
						{{ end }}
					</h3>
				</div>

				<div class="section">
					{{ range (index $guilds .Host) }}
					<div class="service-guild">
						<img
							class="avatar avatar-xl" alt="Guild Icon"
							src="{{ .IconURL }}?size=128"
						>
						<div class="guild-info">
							<h5>{{ .Name }}</h5>
							<ul>
								{{ range .Courses }}
								<li id="{{ .ID }}">{{ .Name }}</li>
								{{ end }}
							</ul>
						</div>
					</div>
					{{ else }}
					<div class="empty">
						<small>Nothing here, yet.</small>
					</div>
					{{ end }}
				</div>
			</div>
		</a>
		{{ end }}
	</div>
</div>

{{ template "footer" . }}
