<!DOCTYPE html>
<title>{{ .Service.Name }} - CSUFBot</title>

{{ template "css" . }}
{{ template "header" . }}

<div class="service-page stretch" style="max-width: 400px">
	{{ $me := (.Me) }}
	<div class="svc-sync-info">
		<div class="user">
			<img
				class="avatar avatar-xxl" alt="{{ $me.Username }}"
				src="{{ $me.AvatarURL }}?size=64"
			>
		</div>
		<span class="mid-ellipsis">● ● ●</span>
		<div class="service">
			<img
				class="avatar avatar-xxl" alt="{{ .Service.Name }}"
				src="{{ .Service.Icon }}"
			>
		</div>
	</div>

	<form method="post" id="token-form" class="card fluid">
		<h3>
			<small>{{ .Service.Name }}</small>
			Token
		</h3>

		<input type="password" name="token">

		<label
			class="switch tooltip"
			aria-label="Do not set the token to expire when enabling this."
		>
			<input type="checkbox" id="remember" name="remember" value="1">
			<span class="slider"></span>
			Remember my token
		</label>

		<div class="buttons">
			{{ with .Service.Instruction }}
			<label for="instruction-modal" role="button">How?</label>
			<input type="checkbox" id="instruction-modal" class="modal">
			<div role="dialog" aria-labelledby="instruction-modal-title">
				<div class="card large instructions">
					<label for="instruction-modal" class="modal-close" aria-label="Close"></label>
					<h3 class="section" id="instruction-modal-title">Instructions</h3>
					<div class="section">{{ . }}</div>
				</div>
			</div>
			{{ end }}

			<input type="submit" value="Sync" class="primary">
		</div>
	</form>
</div>

{{ template "footer" . }}
