:root {
	--universal-border-radius: 4px;
	--button-hover-back-color: var(--button-group-border-color);
}

body {
	max-width:  768px;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

body, div.stretch {
	margin: 0 auto;
	width: 100%;
}

span {
	vertical-align: bottom;
}

div.loading.loading-xl {
	width:  64px;
	height: 64px;
}

a {
	vertical-align: bottom;
}

div.unicode-icon {
	font-size: 3rem;
}
div.spinner.large {
	width:  3rem;
	height: 3rem;
	border-width: 0.35rem;
}

div.card.success-border {
	border: 2px solid #689f38;
}
div.card.error {
	--card-back-color: unset;
	--card-fore-color: var(--card-border-color);
	color: unset;
}

img.logo {
	width:  1.1em;
	height: 1.1em;
	border-radius: 50%;
	vertical-align: middle;
}

input[type="text"],
input[type="password"] {
	margin: calc(var(--universal-margin) / 2) var(--universal-margin);
}

header {
	height: auto;
}

footer {
	padding-top: 0.5rem;
}
footer section.disclaimer {
	line-height: 0.5rem;
	transition: linear 75ms opacity;
	opacity: 0.5;
}
footer:hover section.disclaimer {
	opacity: 1;
}
footer section.disclaimer small {
	font-size: 60%;
}

.avatar {
	color: white;
	background-color: var(--button-fore-color);

	width:  32px;
	height: 32px;
	border-radius: 500px;
	vertical-align: text-bottom;
    box-shadow: 0px 0px 3px 0px rgba(12, 12, 12, 0.25);
}
.avatar.avatar-sm {
	width:  24px;
	height: 24px;
}
.avatar.avatar-xl {
	width:  64px;
	height: 64px;
}
.avatar.avatar-xxl {
	width:  5rem;
	height: 5rem;
    border: 2px solid #5755d9;
    box-shadow: 0px 0px 12px -4px rgba(128,127,226,0.75);
}
div.avatar {
	display: flex;
	align-items: center;
	justify-content: center;
}
div.avatar.initials {
	font-size: 1.2rem;
}
div.avatar.avatar-xxl.initials {
	font-size: 2.5rem;
}

div.empty {
	opacity: 0.75;
	padding: 1rem 1.6rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.card, form.card {
	box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.25);
	border-radius: 8px;
}
form.card {
	background: unset;
}

pre {
	overflow: hidden;
	white-space: pre-line;
}
pre.error {
	--pre-color: #B71C1C;
}

p.error > span.error-prefix {
	font-weight: bold;
}

div.errorbox {
	padding: var(--universal-padding);
	display: flex;
	justify-content: center;
}
div.errorbox > label {
	padding: 0;
}
div.errorbox > label > span.short {
	text-decoration: underline;
}

a.column {
	color: inherit;
	text-decoration: inherit;
}

a.service-card {
	transition: cubic-bezier(.79,.14,.15,.86) 75ms transform;
}
a.service-card:hover {
	z-index: 10;
	transform: scale(1.1);
}
a.service-card div.card {
	margin: calc(var(--universal-margin) / 2);
	transition: cubic-bezier(.79,.14,.15,.86) 75ms all;
	box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.1);
}
a.service-card:hover div.card {
	box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.35);
	border-color: #00000099;
}

a.service-card > div.card > div.section:first-child {
	display: flex;
}
a.service-card > div.card > div.section:first-child h3 {
	margin: 0 var(--universal-margin);
}
a.service-card > div.card > div.section:first-child small * {
	font-size: unset;
}

div.discord-info {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
}
div.discord-info h2 {
	margin: 0;
}
div.discord-info > .avatar {
	margin-right: 1rem;
}
div.discord-info > div.name > span {
	font-size: 1rem;
}
div.discord-info > div.name > small {
	opacity: 0.75;
}

#synchronize-header {
	padding: 0 0.8rem;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

div.svc-sync-info {
    display: flex;
    align-items: center;
    justify-content: center;

	margin-bottom: 2.5rem;
}

div.svc-sync-info > span.mid-ellipsis {
	margin: 0 1rem;
}

form#token-form {
	display: flex;
	flex-direction: column;
}
form#token-form > div.buttons {
	display: flex;
}
form#token-form > div.buttons > input.primary {
	margin-left: auto;
}

div.card.instructions,
div.card.instructions > .section {
	background-color: white;
}
div.card.instructions img {
	max-width:  400px;
	max-height: 400px;
	height: auto;
}

div.service-post {
	height: 100vh;

	display: flex;
	align-items: stretch;
	flex-direction: column;
	justify-content: center;
}

div.service-post div.card {
	padding: calc(var(--universal-margin) * 2) 0;
}

div.service-post > div:not(:last-child) {
	display: none;
}
div.service-post > div:last-child {
	display: flex;
}

div.service-post div.card,
div.service-post div.invisible-wrapper {
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

div.service-post > * {
	margin: 0;
}

div#admin,
div#guild-admin {
	flex: 1;
	padding: calc(var(--universal-padding) * 2) var(--universal-padding);
}

div#admin       > div.card,
div#guild-admin > div.card {
	margin: var(--universal-margin) 0;
}
div#admin > div.card > .section:first-child {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
div#admin > div.card > .section:first-child > * {
	margin: 0;
}
div#admin > div.card > .section:first-child > h2 {
	margin: 0 var(--universal-margin);
}

div#admin > div.admin-guilds > :nth-child(2) {
	padding: 0;
	display: flex;
	flex-direction: column;
}

div#admin > div.admin-guilds a.guild {
	padding: var(--universal-padding);
	display: flex;
	align-items: center;
}
div#admin > div.admin-guilds a.guild:not(:last-child) {
	margin-bottom: 0;
}
div#admin > div.admin-guilds a.guild .avatar {
	margin-right: var(--universal-margin);
}

div#errorpage {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
