<!DOCTYPE html>
<title>CSU Fullerton Discord Authorization</title>

{{ template "css" . }}

<div class="container grid-sm">
	{{ $me := .Me }}
	<div class="discord-info">
		<div class="user">
			<figure class="avatar avatar-xl">
				<img
					src="{{ $me.AvatarURL }}?size=64"
					alt="Avatar"
				>
			</figure>
			<div class="name">
				<span class="username">{{ $me.Username }}</span>
				<small class="discriminator">#{{$me.Discriminator}}</small>
			</div>
		</div>
	</div>

	{{ $user := (.User $me.ID) }}
	<div class="card">
		<div class="card-header">
			<h3>Linking</h3>
		</div>
		<div class="card-body">
			{{ range .Services }}
			<a class="btn {{ if }}" href="/{{.NameHash}}">
				<figure class="avatar avatar-sm">
					<img src="{{ .Icon }}" alt="Icon">
				</figure>
				<span>{{ .Name }}</span>
				{{ with ($user.LastSynced .Host) }}
				<small class="last-synced">
					<time datetime="{{ .UTC.Format "2006-01-02T15:04:05Z" }}">
						{{ humanizeTime . }}
					</time>
				</small>
				{{ end }}
			</a>
			{{ end }}
		</div>
	</div>
</div>
