<!DOCTYPE html>
<title>Sync - {{.SiteName}}</title>

{{ template "css" . }}
{{ template "header" . }}

<div class="sync">
	{{ $me := (.Me) }}

	{{ with $me }}
	<div class="discord-info">
		<div class="user">
			<img class="avatar avatar-xxl" src="{{ .AvatarURL }}?size=128" alt="Avatar">
			<div class="name">
				<span class="username">{{ .Username }}</span>
				<small class="discriminator">#{{.Discriminator}}</small>
			</div>
		</div>
	</div>
	{{ end }}

	{{ $user   := (.User $me.ID) }}
	{{ $guilds := (.GuildsInServices) }}

	<h3 id="synchronize-header">
		Synchronize
		<small>Update the courses linked to your account.</small>
	</h3>

	<div class="row">
		{{ range .Services }}
		<a	class="service-card column col-sm-12 col-md-6"
			href="/sync/{{.Host}}"
		>
			<div class="card fluid">
				<h3 class="section">
					<img class="avatar" src="{{ .Icon }}" alt="Icon">
					<span>{{ .Name }}</span>
					{{ if $user }}
					{{ with ($user.LastSynced .Host) }}
					<small>
						Last synced
						<time datetime="{{ .UTC.Format "2006-01-02T15:04:05Z" }}">
							{{ humanizeTime . }}
						</time>
					</small>
					{{ end }}
					{{ end }}
				</h3>

				<div class="section">
					{{ range (index $guilds .Host) }}
					<div class="service-guild">
						<img
							class="avatar avatar-xl" alt="Guild Icon"
							src="{{ .IconURL }}?size=128"
						>
						<div class="guild-info">
							<h5>{{ .Name }}</h5>
							<ul>
								{{ range .Courses }}
								<li id="{{ .ID }}">{{ .Name }}</li>
								{{ end }}
							</ul>
						</div>
					</div>
					{{ else }}
					<div class="empty">No known guilds.</div>
					{{ end }}
				</div>
			</div>
		</a>
		{{ end }}
	</div>
</div>

{{ template "footer" . }}
