<!DOCTYPE html>
<title>Sync - CSUFBot</title>

{{ template "css" . }}

{{ $me := (.Me) }}

{{ with $me }}
<div class="container grid-sm discord-info">
	<div class="user">
		<figure class="avatar avatar-xl">
			<img
				src="{{ .AvatarURL }}?size=64"
				alt="Avatar"
			>
		</figure>
		<div class="name">
			<span class="username">{{ .Username }}</span>
			<small class="discriminator">#{{.Discriminator}}</small>
		</div>
	</div>
</div>
{{ end }}

{{ $user   := (.User $me.ID) }}
{{ $guilds := (.GuildsInService) }}

<div class="container grid-xl">
	<h3>Linking</h3>

	<div class="columns">
		{{ range .Services }}
		<a class="card column col-xs-12 col-md-6 col-4" href="/{{.NameHash}}">
			<div class="card-header">
				<div class="card-title h5">
					<figure class="avatar avatar-sm">
						<img src="{{ .Icon }}" alt="Icon">
					</figure>
					<span>{{ .Name }}</span>
				</div>
				{{ if $user }}
				{{ with ($user.LastSynced .Host) }}
				<div class="card-subtitle">
					Last synced
					<time datetime="{{ .UTC.Format "2006-01-02T15:04:05Z" }}">
						{{ humanizeTime . }}
					</time>
				</div>
				{{ end }}
				{{ end }}
			</div>
			<div class="card-body">
				{{ if $guilds }}
				{{ range (index $guilds .Host) }}
				<div class="tile tile-centered">
					<div class="tile-icon">
						<figure class="avatar avatar-sm">
							<img src="{{ .IconURL }}?size=32" alt="Guild Icon">
						</figure>
					</div>
					<div class="tile-content">
						<p class="tile-title">{{ .Name }}</p>
						<p class="tile-subtitle">
							<ul>
								{{ range .Courses }}
								<li id="{{ .ID }}">{{ .Name }}</li>
								{{ end }}
							</ul>
						</p>
					</div>
				</div>
				{{ else }}
				<div class="empty">
					<div class="empty-title h6">No known guilds.</div>
				</div>
				{{ end }}
				{{ end }}
			</div>
		</a>
		{{ end }}
	</div>
</div>
